.cabecera-linea-tiempo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table;
}
.fase-num {
    font-family: 'AvenirLTStd-Black';
    font-size: 1.5em;
    display: inline-block;
    background-color: #009fe3;
    color: #Fff;
    padding: 0.2em 0.7em 0.15em;

    position: relative;
    z-index: 2;
}
.fase-texto {
    font-family: 'AvenirLTStd-Black';
    font-size: 2em;
    padding: 0.5em 0.7em 0.2em;
    border: 5px solid #009fe3;
    margin-top: -20px;

    position: relative;
    z-index: 1;
    background-color: #fff;
}

@media (max-width: 767px){
    .fase-texto {
        padding-top: 0.8em;
    }    

}
@media (max-width: 991px){
    .barra-responsive:before {
        content: "";
        display: block;
        width: 50%;
        height: 8px;
        background-color: #009fe3;
        top: -70px;
        left: 6px;

        position: relative;
    }
    .barra-responsive:after {
        content: "";
        display: block;
        width: 8px;
        height: 35px;
        background-color: #009fe3;
        top: -72px;
        left: 6px;
        
        position: relative;
    }
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 30px 0 5px;
    position: relative;
    font-weight: 300;
    margin-bottom: 0;
}
.timeline:before {
    content:" ";
    background-color: #009fe3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 8px;
    margin-left: -4px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;

    width: 45%;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    /*border: 1px solid #dcdcdc;*/
    background: #ffffff;
    position: relative;
}
/*.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}*/
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    /*border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;*/
    content:" ";

    /*agregado*/
    right: -29px;
    margin-right: -11%;
    background-color: #009fe3;
    width: 100px;
    height: 2px;
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    /*border-left-width: 0;
    border-right-width: 14px;*/
    left: -28px;
    right: auto;
    margin-left: -11%;
}

.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-img img{
    width: 100%;
    border-bottom: 1px solid #ddd;

    /*agregado*/
    position: relative;
    /*z-index: 9;*/
}
.timeline-body{
    padding: 15px;

    /*agregado*/
    background: #d4edfc;
    position: relative;
	border-radius: 20px;
}
.timeline-body .fecha {
    font-family: 'work_sansregular';
    font-size: 1.8em;
    font-weight: 700;
    margin: 10px 0;
}
.timeline-body h3 {
    color: #009fe3;
    margin: 10px 0;
    font-size: 1.3em;

    margin-right: 25px;
}
.timeline-body h3 .caret {
    position: absolute;
    top: 30px;
    right: 15px;

    border-top: 14px solid;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.timeline-body > p, .timeline-body > ul {
    /*padding: 10px 15px;*/
    margin-bottom: 0;
    text-align: left;
    list-style: disc;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}

/*editado por eli*/
.timeline > li:nth-child(2) {
    margin-top: 0;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}



@media (max-width: 991px) {
    ul.timeline:before {
        left: 10px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;

        /*agregado*/
        /*width: 98%;
        margin-left: 2%;*/
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before,
    ul.timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -10px;
        right: auto;

        /*agregado*/
        /*left: 0;*/
        margin-left: -45px;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}



/*agregado*/
/*@media (max-width: 767px) {
    ul.timeline > li {
        width: 98%;
        margin-left: 2%;
    }
}*/



.button-temarios {
    border: 3px solid #009fe3;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 1rem;
	width: 90%;
}

.button-temarios a {
    color: black;
    font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 1440px)  {
.button-temarios {
    width: 100%;
}
}

